@import "tailwindcss";

@theme {
  --color-brand-green: #2ecc71;
  --color-brand-blue: #3498db;
  --color-brand-dark: #0f172a;
  --color-brand-gold: #f1c40f;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

/* Custom Utilities */
@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-green to-brand-blue;
  }
}

body {
  @apply bg-brand-dark text-white font-sans;
}
